* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f2c5f2;
  transform: ease all 0.15s;
  background-color: #e5e5e5;
  overflow-x: hidden;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
  -webkit-appearance: none;
}

input[type=number]{
  -moz-appearance: textfield;
}

button{
  cursor: pointer;
}

.container {
  -webkit-animation: background 1s infinite ease-in-out;
  animation: background 1s infinite ease-in-out;
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
  color: #3f5043;
  transition: all linear 3s;
}

.loading {
  -webkit-animation: sk-scaleout 1s infinite ease-in-out;
  animation: sk-scaleout 1s infinite ease-in-out;
  border-radius: 100%;
  height: 6rem;
  width: 6rem;
}

.img img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  object-fit: contain;
}

@keyframes sk-scaleout {
  50% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1);
    opacity: 0.5;
    transform: scale(1);
  }
}

@keyframes background {
  from {
    background-color: #b2fbd3;
    transition: all 0.2s ease-in-out;
  }
  to {
    background-color: #00e065;
    transition: all 0.2s ease-in-out;
  }
}

.main-section {
  overflow-x: hidden;
}

/* media query */

@media screen and (max-width: 500px) {
  .card-section {
    width: 100%;
    margin: 2rem auto;
    border-radius: 0.4rem;
    overflow-x: hidden;
    padding: 2rem;
  }
  .card-container,
  .mode {
    width: 100%;
  }
  .signup {
    width: 80%;
    margin: 1rem auto;
  }
  .page-section {
    width: 100%;
  }
}

.onboard {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  text-transform: uppercase;
}

.radio {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.radio_input {
  display: none;
}

.checkmark {
  width: 1.1em;
  height: 1.1em;
  border: 1px solid #222;
  border-radius: 50%;
  box-sizing: border-box;
  padding: 2px;
}

.checkmark-1 {
  width: 1.1em;
  height: 1.1em;
  border: 1px solid #222;
  border-radius: 50%;
  box-sizing: border-box;
  padding: 2px;
}

.checkmark::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background-color: #00e065;
  border-radius: 50%;
  transform: scale(0);
  transition: transform 0.15s;
}
.checkmark-1::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background-color: #00a0e3;
  border-radius: 50%;
  transform: scale(0);
  transition: transform 0.15s;
}

.radio_input:checked + .checkmark::after {
  transform: scale(1);
}
.radio_input:checked + .checkmark-1::after {
  transform: scale(1);
}

.form {
  margin: 3rem auto;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-group {
  display: flex;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 0.5rem 1rem;
  text-transform: capitalize;
  border-radius: 25rem;
  outline: none;
  border: none;
  box-sizing: border-box;
  letter-spacing: 1px;
}

.btn:focus {
  outline: none;
  border: none;
}
.btn-color-prev {
  color: #00e065;
  border: 1px solid #00e065;
}
.btn-color-next {
  background-color: #00e065;
  color: #fff;
}

.next-btn-1 {
  color: #00a0e3;
  border: 1px solid #00a0e3;
}

.next-btn {
  background-color: #00a0e3;
  color: #fff;
}

.card-section {
  width: 25rem;
  margin: 0 auto;
  border-radius: 1rem;
  padding-top: 3rem;
  padding-bottom: 1rem;
  line-height: 2;
  background-color: #f1f9fd;
  border: 1px solid #f1f9fd;
  transition: all linear transform 0.1s;
}

.card-container {
  width: 95%;
  margin: 0 auto;
}

.card-container img {
  width: 90%;
}

.navigation {
  padding: 2rem 5rem;
  margin: 1rem auto;
  width: 80%;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

.page-1-span {
  color: #00e065;
}
.page-2-span {
  color: #00a0e3;
}
.skip {
  position: relative;
  width: 85%;
  margin-bottom: 4rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
  cursor: pointer;
  text-transform: capitalize;
  font-weight: 500;
  border: none;
  outline: none;
  background-color: transparent;
}

* svg {
  font-size: 0.7rem;
}

.skip-2::after {
  background-color: #00a0e3;
}
.skip-1::after {
  background-color: #00e065;
}

.skip::after {
  position: absolute;
  content: "";
  width: 3rem;
  height: 1px;
  bottom: -0.4rem;
}

/* sign up section */

.page-section {
  width: 25rem;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 3rem;

  padding-bottom: 0;
  background-color: #f3fbff;
}

.info {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.info-img {
  width: 5rem;
  height: 5rem;
  margin: 1rem auto;
}

.info-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.input {
  margin-top: 5rem;
  display: block;
  padding: 0 2rem;
}
.form-control {
  margin-bottom: 2rem;
}
.form-control label {
  display: block;
  margin-bottom: 0.5rem;
}

.form-control input,
select {
  width: 100%;
  padding: 1rem 1rem;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #e5e5e5;
}

.sign-up-btn {
  margin: 0 auto;
  background-color: #b2fbd3;
  padding: 1rem 5rem;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5rem;
  margin-bottom: 1.5rem;
}
.sign-up-btn:active {
  transform: scale(1.1);
  transition: transform 0.5s;
}

.signup-footer {
  margin: 1rem auto;
  line-height: 2;
}
.signup-icons {
  margin: 1rem auto;
  display: flex;
  justify-content: space-around;
}
.signup-icons svg {
  font-size: 1.4rem;
}

.sign-up-login {
  border: none;
  outline: none;
  background-color: transparent;
  color: #04f06e;
  cursor: pointer;
}
/* login */

.login-forgot-password {
  text-align: end;
  margin-top: 0;
  margin-bottom: 2em;
  font-size: 0.8rem;
  cursor: pointer;
}

/* select bank */

.page-section > p {
  margin-top: -2rem;
  margin-bottom: 3rem;
  line-height: 1.5rem;
}

.select {
  margin: 0.5rem 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}

.select::after {
  width: 100%;
}

.bank-form {
  margin-top: 1rem;
}

.select-section {
  height: 80%;
  padding-top: 15rem;
  padding-bottom: 5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

option {
  font-size: 1rem;
}

/* Loading component */

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 100%;
  border: 6px solid #fff;
  border-color: #2aac6c #68c798 #63cbec;

  animation: lds-dual-ring 1.2s linear infinite;
}

.load {
  margin-top: 5rem;
}
/* choose mode */
.mode,
.forgotpassword {
  width: 30rem;
  padding: 3rem 2rem;
  margin: 0 auto;
  background-color: #f3fbff;
}

.mode-heading {
  display: flex;
  align-items: center;
  margin-top: -1rem;
  margin-bottom: 1.2rem;
}
.mode-heading svg {
  margin-right: 1rem;
  font-size: 1.2rem;
}

.form-mode {
  margin-top: 1rem;
  margin-bottom: 15rem;
}

.form-mode div {
  margin-bottom: 0.3rem;
  padding: 1rem 1.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e5e5e5;
  border-radius: 0.4rem;
}

.mode-btn {
  margin: 5rem auto;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.Home-page {
  width: 25.9rem;
  height: 896px;
  background-color: rgba(243, 251, 255, 0.7);
  margin: 0px auto;
  padding-top: 60px;
}

.Home {
  margin: 0px 26px;
}

.search {
  width: 22.625rem;
  height: 2.7rem;
  margin-top: 60px;
  border-radius: 20px;
  border: none;
  background: #e5e5e5;
  display: flex;
  align-items: center;
}

.actions {
  background: rgba(212, 242, 255, 1);
  padding: 22px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 25rem;
  width: 22.6rem;
  border-radius: 5px;
}

.half {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box {
  background: rgba(165, 250, 174, 1);
  height: 142px;
  width: 128px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.box1 {
  background: rgba(134, 206, 241, 1);
  height: 142px;
  width: 128px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.box2 {
  background: rgba(253, 144, 144, 1);
  height: 142px;
  width: 128px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.box3 {
  background: rgba(243, 191, 132, 1);
  height: 142px;
  width: 128px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.box1 p,
.box p,
.box2 p,
.box3 p {
  margin-top: 0.7rem;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
}

.top {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.bottom {
  margin-top: 60px;
}

.bottom p {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 23px;
}

.foot-hold{
  position: relative;
}

.footer {
  width: 100%;
  height: 58px;
  background-color: white;
  transform: translateY(145px);
  position: relative;
  display: flex;
  padding: 0px 10px;
  justify-content: center;
}

.pointer {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background: rgba(178, 251, 211, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  inset: 0;
  transform: translateY(-28px);
  margin: 0px auto;
  box-sizing: content-box;
  
  box-shadow: 0px 0px 20px 0px rgba(112, 111, 229, 0.5);
}

.pointer::after{
  content:"";
  width: 20px;
  height: 10px;
  background-color: white;
  transform: translateX(17px) translateY(8.9px);
  border-top-left-radius: 10px;
  box-shadow: 0px -3.5px 0 0 rgba(243, 251, 255, 0.7);
}

.pointer::before{
  content:"";
  width: 20px;
  height: 10px;
  background-color: white;
  transform: translateX(-18px) translateY(8.5px);
  border-top-right-radius: 10px;
  box-shadow: 0px -3.5px 0 0 rgba(243, 251, 255, 0.7);
}
.search-bar {
  position: relative;

  left: 35px;
  outline: none;
  border: none;
  width: 300px;
  background-color: #e5e5e5;
}

.s-icon {
  font-size: 20px;
  position: relative;

  left: 20px;
  color: rgba(41, 45, 50, 1);
}

.top p {
  font-size: 18px;
}

.icon {
  font-size: 20px;
  cursor: pointer;
}

.icon1 {
  font-size: 20px;
  cursor: pointer;
}

.icon2 {
  cursor: pointer;
  font-size: 20px;
}

.icon3 {
  cursor: pointer;
  font-size: 21px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.icons {
  display: flex;
  justify-content: space-around;
  width: 100%;
  transform: translateY(45px);
}

.wallet {
  width: 414px;
  height: 896px;
  margin: 0px auto;
  background-color: rgba(243, 251, 255, 1);
  padding: 61px 20px 0px 20px;
}

.fund {
  display: flex;
  align-items: center;
}

.arrow {
  font-size: 15px;
  margin: 0px 5px;
}

.fund p {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
}

.fund-1 p {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  margin-top: 30px;
}

.fund-1 input {
  margin-top: 30px;
  width: 100%;
  height: 58px;
}

.password {
  position: relative;
}

.toggle-icon {
  position: absolute;
  top: 2.7em;
  right: 2em;
  color: #27a0dd;
}
/* card */
.card-label {
  margin: 1.2rem 0;
}

.date-ccv {
  position: relative;
}

.date-ccv input {
  padding: 0.7rem 0.6rem;
  border: none;
  outline: none;
  border-radius: 0.3rem;
  background-color: #e5e5e5;
  cursor: pointer;
}

.date-ccv::placeholder {
  letter-spacing: 1.1px;
}

.date-ccv label {
  display: block;
  text-align: start;
  margin: 0.6rem 0;
  letter-spacing: 1px;
}

.card-ccv {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 54%;
  right: 0;
  top: -0.5em;
}
.checkbox-1,
.checkbox-2 {
  font-size: 0.8rem;
  margin-top: 1rem;
  display: flex;
  align-items: center;
}

.checkbox-1 input,
.checkbox-2 input {
  outline: none;
  border: none;
}

.checkbox-1 label,
.checkbox-2 label {
  margin-left: 0.5rem;
}

.checkbox-2 span {
  color: #00e065;
}

/* success */

.success-img-container {
  text-align: center;
  margin-top: 5rem;
}
.success-img-container img {
  max-width: 100%;
  width: 350px;
  object-fit: contain;
}
.success-text {
  text-align: center;
  width: 70%;
  margin: 0 auto;
  line-height: 3;
  padding: 0 3rem;
}

.success-text p {
  text-align: start;
  font-size: 1.06rem;
  line-height: 1.4;
}
.success-p {
  cursor: pointer;
  font-size: 0.7rem;
  text-align: center;
  margin-top: -1rem;
  letter-spacing: 1px;
}

/* forgot password */

.forgotpassword {
  width: 26rem;
  max-width: 85%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20rem;
}
.pwd {
  width: 100%;
  margin: 1rem 0;
}

/* otp */

.otp-container {
  text-align: center;
  padding: 2rem 1rem;
  padding-bottom: 4rem;
}

.img-div {
  text-align: center;
  margin-top: 3rem;
}

.img-div img {
  max-width: 100%;
  width: 350px;
  object-fit: contain;
}

.otp-field {
  width: 10%;
  margin: 2rem 0;
  padding: 0.5rem 0.2rem;
  margin-left: 1rem;
  text-align: center;
  border-radius: 0.2rem;
  border: 1px solid #00e065;
  outline: none;
}

.resend::after {
  content: "";
  display: block;
  background-color: rgb(206, 203, 203);
  width: 5rem;
  height: 1px;
  margin: 0 auto;
}

/* new password */

.newpassword {
  text-align: center;
  padding: 4rem 3rem;
  padding-top: 15rem;
  width: 25rem;
  max-width: 100%;
  margin: 0 auto;
  font-family: sans-serif;
  background-color: #f3fbff;
}

.newpassword input {
  width: 100%;
  padding: 1rem 1rem;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #e5e5e5;
}

.newpassword p {
  text-align: start;
  opacity: 0.9;
}

.newpassword label {
  text-align: start;
}

.footer-component {
  width: 100%;
}

/* saved-card */
.saved-card {
  background-color: red;
}


.foot-hold{
  transform: translateY(140px);
}

.curves{
  display: flex;
  position: relative;
  top: 138px;
}

.curve1{
  width: 50%;
  height: 58px;
  background-color: white;
}

.curve1::before{
  content: " ";
  width: 40px;
  height: 40px;
  background-color:rgba(243, 251, 255, 1);
  display: flex;
  border-bottom-left-radius:170% ;
  position: relative;
  left: 81%;
}

.c-s{
  padding:26px;
}

.p-naira{
  margin: 0px auto;
  transform: translateY(300px);
}

.curve2{
  width: 50%;
  height: 58px;
  background-color: white;

}

.curve2::after{
  content: " ";
  width: 10px;
  height: 10px;
  background-color: black;
  display: flex;
  position: relative;
  left: 40px;
  bottom: 40px;
  border-top-left-radius: 10px;
}

.curve2::before{
  content: " ";
  width: 40px;
  height: 40px;
  background-color:rgba(243, 251, 255, 1);
  display: flex;
  border-bottom-right-radius:170% ;
}

.Wpage1{
  display: flex;
  margin: 26px;
  align-items:center ;
}

.midbtns{
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(300px);
}

.f-button{
  background-color: #B2FBD3;
  width: 246px;
  height: 58px;
  border: none;
  border-radius:30px;
  margin-bottom: 35px;
}

.t-down{
  position: relative;
  transform: translateY(485px);
}

.choose{
  display: flex;
  margin: 0px 26px;
}

.network{
  width:fit-content ;
  height: fit-content;
  padding: 18px;
  background-color: #E5E5E5;
  display: flex;
  align-items: center;
  cursor: pointer;

}

.networks{
  width:fit-content ;
  height: fit-content;
  padding: 18px;
  background-color: rgba(178, 251, 211, 1);
  display: flex;
  align-items: center;
  cursor: pointer;

}

.network:hover, .network:active, .network:focus{
  background-color: rgba(178, 251, 211, 1);
}

.network p{
  margin-left: 5px;
}

.E-amount{
  margin: 30px 18px;
  display: flex;
  flex-direction: column;
}

.t-number{
  
  width:370px;
  height: 65px;
}

.mid-bttns{
  display: flex;
  justify-content: center;
  transform: translateY(20px);
}

.foot-1{
  transform: translateY(153px);
}

.none{
  display:none;
}

.onshow{
  display: flex;
  flex-direction: column;
  
}

.onshow p{
  margin: 0px 26px;
}

.buycredit{
  display: flex;
  flex-direction: column;
  margin: 0px 26px;
}

.gray{
  display: flex;
  background-color: #E5E5E5;
  width:364px;
  height: 65px;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
}