* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f2c5f2;
  transform: ease all 0.15s;
  background-color: #e5e5e5;
  overflow-x: hidden;
}

.container {
  -webkit-animation: background 1s infinite ease-in-out;
  animation: background 1s infinite ease-in-out;
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
  color: #3f5043;
  transition: all linear 3s;
}

.loading {
  -webkit-animation: sk-scaleout 1s infinite ease-in-out;
  animation: sk-scaleout 1s infinite ease-in-out;
  border-radius: 100%;
  height: 6rem;
  width: 6rem;
}

.img img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  object-fit: contain;
}

@keyframes sk-scaleout {
  50% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1);
    opacity: 0.5;
    transform: scale(1);
  }
}

@keyframes background {
  from {
    background-color: #b2fbd3;
    transition: all 0.2s ease-in-out;
  }
  to {
    background-color: #00e065;
    transition: all 0.2s ease-in-out;
  }
}

.main-section {
  overflow-x: hidden;
}

.onboard {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  text-transform: uppercase;
}

.radio {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.radio_input {
  display: none;
}

.checkmark {
  width: 1.1em;
  height: 1.1em;
  border: 1px solid #222;
  border-radius: 50%;
  box-sizing: border-box;
  padding: 2px;
}

.checkmark-1 {
  width: 1.1em;
  height: 1.1em;
  border: 1px solid #222;
  border-radius: 50%;
  box-sizing: border-box;
  padding: 2px;
}

.checkmark::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background-color: #00e065;
  border-radius: 50%;
  transform: scale(0);
  transition: transform 0.15s;
}
.checkmark-1::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background-color: #00a0e3;
  border-radius: 50%;
  transform: scale(0);
  transition: transform 0.15s;
}

.radio_input:checked + .checkmark::after {
  transform: scale(1);
}
.radio_input:checked + .checkmark-1::after {
  transform: scale(1);
}

.form {
  margin: 3rem auto;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-group {
  display: flex;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 0.5rem 1rem;
  text-transform: capitalize;
  border-radius: 25rem;
  outline: none;
  border: none;
  box-sizing: border-box;
}

.btn:focus {
  outline: none;
  border: none;
}
.btn-color-prev {
  color: #00e065;
  border: 1px solid #00e065;
}
.btn-color-next {
  background-color: #00e065;
  color: #fff;
}

.next-btn-1 {
  color: #00a0e3;
  border: 1px solid #00a0e3;
}

.next-btn {
  background-color: #00a0e3;
  color: #fff;
}

.card-section {
  width: 25rem;
  margin: 1.5rem auto;
  margin-bottom: 3rem;
  border-radius: 1rem;
  padding: 1.5rem;
  line-height: 2;
  background-color: #f1f9fd;
  border: 1px solid #f1f9fd;
  transition: all linear transform 0.1s;
}

.card-container {
  width: 95%;
  margin: 0 auto;
}

.card-container img {
  width: 90%;
}

.navigation {
  padding: 2rem 5rem;
  margin: 1rem auto;
  width: 80%;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

.page-1-span {
  color: #00e065;
}
.page-2-span {
  color: #00a0e3;
}
.skip {
  position: relative;
  width: 85%;
  margin-bottom: 4rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
  cursor: pointer;
  text-transform: capitalize;
  font-weight: 500;
  border: none;
  outline: none;
  background-color: transparent;
}

* svg {
  font-size: 0.7rem;
}

.skip-2::after {
  background-color: #00a0e3;
}
.skip-1::after {
  background-color: #00e065;
}

.skip::after {
  position: absolute;
  content: "";
  width: 3rem;
  height: 1px;
  bottom: -0.4rem;
}

/* sign up section */

.page-section {
  width: 25rem;
  height: auto;
  margin: 1.5rem auto;
  margin-bottom: 1rem;
  border-radius: 1rem;
  padding: 1.5rem;
  background-color: #f3fbff;
}

.info {
  display: flex;
  flex-direction: column;
}

.info-img {
  width: 5rem;
  height: 5rem;
  margin: 1rem auto;
}

.info-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.input {
  margin-top: 5rem;
  display: block;
}
.form-control {
  margin-bottom: 2rem;
}
.form-control label {
  display: block;
  margin-bottom: 0.5rem;
}

.form-control input,
select {
  width: 100%;
  padding: 1rem 1rem;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #e5e5e5;
}

.sign-up-btn {
  margin: 0 auto;
  background-color: #b2fbd3;
  padding: 1rem 5rem;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5rem;
  margin-bottom: 1.5rem;
}
.sign-up-btn:active {
  transform: scale(1.1);
  transition: transform 0.5s;
}

.signup-footer {
  margin: 1rem auto;
  line-height: 2;
}
.signup-icons {
  margin: 1rem auto;
  display: flex;
  justify-content: space-around;
}
.signup-icons svg {
  font-size: 1.4rem;
}

.sign-up-login {
  border: none;
  outline: none;
  background-color: transparent;
  color: #04f06e;
  cursor: pointer;
}
/* login */

.login-forgot-password {
  text-align: end;
  margin-top: 0.6rem;
  font-size: 0.8rem;
  cursor: pointer;
}

/* select bank */

.page-section > p {
  margin-top: -2rem;
  margin-bottom: 3rem;
  line-height: 1.5rem;
}

.select {
  margin: 0.5rem 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}

.select::after {
  width: 100%;
}

.bank-form {
  margin-top: 1rem;
}

.select-section {
  height: 80%;
  padding-top: 15rem;
  padding-bottom: 5rem;
}

option {
  font-size: 1rem;
}

/* Loading component */

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 100%;
  border: 6px solid #fff;
  border-color: #2aac6c #68c798 #63cbec;

  animation: lds-dual-ring 1.2s linear infinite;
}

.load {
  margin-top: 5rem;
}
/* choose mode */
.mode {
  width: 30rem;
  padding: 1rem 2rem;
  margin: 2rem auto;
  background-color: #f3fbff;
}

.mode-heading {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}
.mode-heading svg {
  margin-right: 1rem;
  font-size: 1.2rem;
}

.form-mode {
  margin-top: 1rem;
  margin-bottom: 15rem;
}

.form-mode div {
  margin-bottom: 0.3rem;
  padding: 1rem 1.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e5e5e5;
  border-radius: 0.4rem;
}

.mode-btn {
  margin: 5rem auto;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 480px) {
  .card-section {
    width: 90%;
    margin: 2rem auto;
    border-radius: 0.4rem;
    overflow-x: hidden;
    padding: 2rem;
  }
  .card-container,
  .mode {
    width: 100%;
  }
  .signup {
    width: 80%;
    margin: 1rem auto;
  }
}

.Home-page {
  width: 25.9rem;
  height: 896px;
  background-color: rgba(243, 251, 255, 0.7);
  margin: 0px auto;
  padding-top: 60px;
}

.Home {
  margin: 0px 26px;
}

.search {
  width: 22.625rem;
  height: 2.7rem;
  margin-top: 60px;
  border-radius: 20px;
  border: none;
  background: #e5e5e5;
  display: flex;
  align-items: center;
}

.actions {
  background: rgba(212, 242, 255, 1);
  padding: 22px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 25rem;
  width: 22.6rem;
  border-radius: 5px;
}

.half {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box {
  background: rgba(165, 250, 174, 1);
  height: 142px;
  width: 128px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.box1 {
  background: rgba(134, 206, 241, 1);
  height: 142px;
  width: 128px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.box2 {
  background: rgba(253, 144, 144, 1);
  height: 142px;
  width: 128px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.box3 {
  background: rgba(243, 191, 132, 1);
  height: 142px;
  width: 128px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.box1 p,
.box p,
.box2 p,
.box3 p {
  margin-top: 0.7rem;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
}

.top {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.bottom {
  margin-top: 60px;
}

.bottom p {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 23px;
}

.footer {
  width: 100%;
  height: 120px;
  margin-top: 90px;
  background-image: url(../public/imgs/footer.png);
}

.pointer {
  height: 48px;
  width: 48px;
  margin: 0px auto;
  border-radius: 50%;
  background: rgba(178, 251, 211, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-40px);
  box-shadow: 0px 0px 20px 0px rgba(112, 111, 229, 0.5);
}

.search-bar {
  position: relative;

  left: 35px;
  outline: none;
  border: none;
  width: 300px;
  background-color: #e5e5e5;
}

.s-icon {
  font-size: 20px;
  position: relative;

  left: 20px;
  color: rgba(41, 45, 50, 1);
}

.top p {
  font-size: 18px;
}

.icon {
  font-size: 20px;
  cursor: pointer;
}

.icon1 {
  font-size: 20px;
  cursor: pointer;
}

.icon2 {
  cursor: pointer;
  font-size: 20px;
}

.icon3 {
  cursor: pointer;
  font-size: 21px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icons {
  display: flex;
  justify-content: space-around;
  width: 100%;
  transform: translateY(45px);
}

.wallet {
  width: 414px;
  height: 896px;
  margin: 0px auto;
  background-color: rgba(243, 251, 255, 1);
  padding: 61px 20px 0px 20px;
}

.fund {
  display: flex;
  align-items: center;
}

.arrow {
  font-size: 15px;
  margin: 0px 5px;
}

.fund p {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
}

.fund-1 p {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  margin-top: 30px;
}

.fund-1 input {
  margin-top: 30px;
  width: 100%;
  height: 58px;
}
